# PostgreSQL Database Configuration
# Copy this file to .env and adjust values as needed

# Database name
POSTGRES_DB=dblore

# Database user
POSTGRES_USER=dblore

# Database password (change this in production!)
POSTGRES_PASSWORD=dblore123

# Port mapping (host:container)
# Using 5433 to avoid conflict with local Postgres.app on 5432
POSTGRES_PORT=5433

# For testing
TEST_DB_HOST=localhost
TEST_DB_PORT=5435
TEST_DB_NAME=dblore_test
TEST_DB_USER=dblore_test
TEST_DB_PASSWORD=dblore123

# publish 
DEVELOPER_ID_P12_PASSWORD="xxx"
KEYCHAIN_PASSWORD="xxx"
NOTARY_KEY_ID="xxx"
NOTARY_ISSUER_ID="xxx"

APP_SPECIFIC_PWD="xxx"
